
<link type="text/css" rel="stylesheet" media="screen" href="style.css" />
 
<!--- Este código esta consumindo um webservice que retorna o numero de cartoes na fila pra processamento
    O valor é armazenado na variavel v_numero_cr, para vc realizar testes no dashboard vc pode manipular o valor da variavel do tipo:
    v_numero_cr = v_numero_cr + 10
--->
<cfinvoke   webservice = "http://ensintech.sp.senac.br/api/cr.cfc?wsdl" 
            method = "getNumCRFilaDoubleChk"
            returnVariable = "v_numero_double_chk"
         >

<cfoutput><br><br><br><br><br><br>
        <cfif v_numero_double_chk lt 0 >    
            <h1 class="cinza" >#v_numero_double_chk#</h1>
     
        <cfelse>
            <h1  class="verm">#v_numero_double_chk#</h1>
        
        </cfif>
    
   
</center>
</cfoutput>
<style>

</style>