
#site{
  /* Definimos a largura da página */
  width:1000px;
  /* Definirmos a altura da página*/
  height:590px;
  /* Aqui definiremos a posição que a página ocupará na tela, nesse caso estamos definindo que fique centralizado na tela*/
  /*top : posição de cima */
  margin-top:-10px;
  /* left: posição de esquerda*/
  margin-left:auto;
  /* bottom : posição de baixo */
  margin-bottom:0;
  /* right : posição de direita */
  margin-right:auto;
  /* Aqui definiremos a cor de fundo da página */

}


#header{
  /*Novamente definimos a largura da div*/
  width:1000px;
  /* altura da div */
  height:125px;
  /* Cor de fundo da div */
 
  }
#conteudo{
  /*Novamente definimos a largura da div*/
  width:1000px;
  /* altura da div */
  height:450px;
  /* Cor de fundo da div */
  margin-top:15px;


  } 
#conteudo-left{
  /*Novamente definimos a largura da div*/
  width:500px;
  /* altura da div */
  height:300px;
  /* O atributo Float é utilizado para fazermos o nosso bloco(div) literalmente flutue e se posicione onde queremos na página, quando escolhemos left, dizemos que esse bloco irá se posicionar na parte esquerda da página */
  float:left;
  margin-left:20px;
  margin-top:100px;
  /* background-color: blue; */
  /* Cor de fundo da div */

  
  }
#conteudo-right{
  /*Novamente definimos a largura da div*/
  width:350px;
  /* altura da div */
  height:200px;
  margin-left:40px;

  float:left;
  margin-top:20px;
  /* Cor de fundo da div */
  border-width: medium;
  border-style: double;
  border-color: black;
  
 
  
  }
#conteudo-bottom{
 /*Novamente definimos a largura da div*/
 width:350px;
 /* altura da div */
 height:200px;
 /* Pode parecer meio estranho usarmos o mesmo atributo left para o bloco em que queremos posicionar na direita, mas como sabemos, o CSS é um estilo em cascata, nossa div conteúdo definimos a largura de 1000px e na conteudo-left 500px, 
 automaticamente ao definirmos o conteudo-right com 500px e à esquerda também, ele ficou à direita do conteudo-left, pois o máximo que a div filha poderá ter é 1000px, sendo 500+500=1000px */
 float:left;
 margin-top:10px;
 margin-left:40px;
 border-width: medium;
  border-style: double;
  border-color: black;
 

 /* Cor de fundo da div */

  }    

     #nac{
      width:180px;
      height:150px ;
      margin-top:20px;
     margin-left:20px;
    
  }
  h1{
    font-family: Comic Sans MS;
    font-size: 50px;
    margin-top:-10%;
    margin-left:30%;
  }
  #atual{
    font-family: Comic Sans MS;
    font-size:15px;
 
    margin-left:70%;
  }
  #cartao{  
      font-family: Comic Sans MS;
     font-size: 27px;
     margin-left:10px;
    
   }
/*
   #tempo {
    text-align: center;
    font:bold 28pt arial;
    display: block;
    margin: 10px;
    float:right;
   margin-top:-40px;
    background-color: lightgray;
    width: 200px;
    font-family:  Comic Sans MS;
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
 
   }
   */
   .tempo {
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 15px;
    display: block;
    margin: 10px;
    float:right;
   margin-top:-10px;
   margin-right: 90px;
    background-color:WhiteSmoke;
    width: 100px;
    font-family:  Comic Sans MS;
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
 
   }

   .tempo-atualizando {
    text-align: center;
    font-size:15px;
    display: block;
   
    margin-right: 90px;
    float:right;
    margin-top:-10px;
    background-color: Honeydew;
    color:AliceBMediumAquamarinelue;
    width: 100px;
    font-family:  Comic Sans MS;
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
 
   }

   #barchart_material{

    width:450px;
    height:350px;
     margin-top:-15px;
     float: left;
   }
  
    @media screen and (max-width:480px){
      #site{
        width:100%;
        height:600% ;
      }
            
      #header{
        width:100%;
        /* altura da div */
        height:125px;
        /* background: gray; */
      }
      #conteudo{
        /*Novamente definimos a largura da div*/
        width:100%;
        /* altura da div */
        height:450px;
        /* Cor de fundo da div */
        margin-top:15px;
       
      
        } 
      #nac{
        
      width:150px;
      height:150px ;
     margin-left:20px;
     margin-top:-15px;
     background-size:100% auto;   
      }
      h1{
        font-family: Comic Sans MS;
        font-size: 20px;
        margin-top:-20%;
        margin-left:40%;

      }


      #atual{
        font-family: Comic Sans MS;
        font-size:15px;
        margin-left:75%;
        margin-top:-10%;
      }


      .tempo {
        text-align: center;
        font-family: Comic Sans MS;
        font-size: 15px;
        display: block;
        
        float:left;
        margin-top:2%;
        margin-right: -10%;
        background-color:WhiteSmoke;
        width: 100px;
        font-family:  Comic Sans MS;
        border-radius: 6px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
       }
       .tempo-atualizando {
        text-align: center;
        font-size:15px;
        display: block;
       
        margin-right: 90px;
        float:right;
        margin-top:-10px;
        background-color: Honeydew;
        color:AliceBMediumAquamarinelue;
        width: 100px;
        font-family:  Comic Sans MS;
        border-radius: 6px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
       }

       #barchart_material{

        width:400px;
        height:200px;
         margin-top:-15px;
         float: left;
       }

       #conteudo-left{
        /*Novamente definimos a largura da div*/
        width:270px;
        /* altura da div */
        height:200px;
        /* O atributo Float é utilizado para fazermos o nosso bloco(div) literalmente flutue e se posicione onde queremos na página, quando escolhemos left, dizemos que esse bloco irá se posicionar na parte esquerda da página */
        float:left;
        margin-left:20px;
        margin-top:20px;
        /* Cor de fundo da div */
       
        }



        #conteudo-bottom{
        /*Novamente definimos a largura da div*/
        width:150px;
        /* altura da div */
        height:220px;
        /* Pode parecer meio estranho usarmos o mesmo atributo left para o bloco em que queremos posicionar na direita, mas como sabemos, o CSS é um estilo em cascata, nossa div conteúdo definimos a largura de 1000px e na conteudo-left 500px, 
        automaticamente ao definirmos o conteudo-right com 500px e à esquerda também, ele ficou à direita do conteudo-left, pois o máximo que a div filha poderá ter é 1000px, sendo 500+500=1000px */
        
        margin-top:-225px;
        margin-left: 45%;
        border-width: medium;
          border-style: double;
          border-color: black;
         
    }
    #conteudo-right{
      /*Novamente definimos a largura da div*/
      width:150px;
      /* altura da div */
      height:220px;
      margin-right: 60%;
      margin-left:20px;
      margin-top:5px;
      float: left;


      /* Cor de fundo da div */
      border-width: medium;
      border-style: double;
      border-color: black;
    
 
      }

      #cartao{  
        font-family: Comic Sans MS;
       font-size: 20px;
       margin-left:10px;
      
     }

  }

